fastapi
gunicorn
uvicorn
sqlmodel
psycopg2-binary
alembic
fastapi-restful
redis
rq
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
sendgrid
jinja2
orjson
email_validator
python-multipart
python-dotenv