fastapi
gunicorn
uvicorn
sqlmodel
asyncpg
alembic
fastapi-restful
redis[hiredis]
aioredis[hiredis]
rq
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
sendgrid
jinja2
orjson
email_validator
python-multipart
python-dotenv