fastapi>=0.101.1
sqlmodel>=0.0.8
gunicorn>=21.2.0
uvicorn>=0.23.2
asyncpg>=0.28.0
alembic>=1.11.3
fastapi-restful>=0.5.0
redis[hiredis]>=5.0.0
aioredis[hiredis]>=2.0.1
rq>=1.15.1
pydantic-settings>=2.0.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
sendgrid>=6.10.0
orjson>=3.9.5
email_validator>=2.0.0
python-multipart>=0.0.6
python-dotenv>=1.0.0